

<div class="w-100 container">
  <div class="w-100 flex-nav">
    <div class="w-50 containernav">
      <div >
        <mat-toolbar class="navcontainer">
          <picture>
            <source srcset="../../assets/Logomark.jpg" type="image/jpg">
            <img mat-card-image src="../../assets/Logomark.jpg" >
          </picture>
          <picture class="mark-title">
            <source srcset="../../assets/Landify.png" type="image/jpg">
            <img mat-card-image src="../../assets/Landify.png" >
          </picture>
          <span class="example-spacer"></span> 
          <span>Featuresn</span>
          <span class="example-spacer"></span> 
          <span>Pricing</span>
          <span class="example-spacer"></span>     
          <span>Careers</span>
          <span class="example-spacer"></span>    
          <span>Ayuda</span>
        </mat-toolbar>
      </div>
    </div>
    <div class="w-50">
      <div class="example-button-row">
        <button (click)="redirectToLogin()" class="button-login" mat-raised-button>Iniciar sesión</button> 
        <button   class="button-register" mat-raised-button>Regístrate</button>
    </div>
    </div>
  </div>
  <div class="w-100 phonecontainer flex-nav">
    <div class="w-50 subtitle">
      <div>
        <h2 class="h2">
          The easiest way to manage projects
        </h2>
      </div>
      <div>
        <p class="p">From the small stuff to the big picture, organizes the work so teams know what to do, why it matters, and how to get it done.</p>
      </div>
      <div>
        <div class="example-button-row">
          <button class="button-login" mat-raised-button>Get Started</button> 
         
          <button  class="button-register" mat-raised-button> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="play_circle_outline"></mat-icon>Watch Video</button>
      </div>
      </div>
    </div>
    <div class="w-50">
      <picture >
        <source srcset="../../assets/Phone.png" type="image/jpg">
        <img mat-card-image src="../../assets/Phone.png" >
      </picture>
    </div>
  </div>
  <div class="w-100 phonecontainer flex-nav">
    <div class="w-100 subtitleh3">
      <div>
        <h2 class="h3">
          Tailor-made features
        </h2>
      </div>
      <div>
        <p class="ph3">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
      </div>
    </div>
  </div>

  <div class="containerCards">
    <div class=" cardcontainer flex-nav">
      <div class="cards">
        <div class="picturecard" >
          <picture >
            <source srcset="../../assets/card1.png" type="image/jpg">
            <img mat-card-image src="../../assets/card1.png" >
          </picture>
        </div>
        <div>
          <h2 class="h4">
            Robust workflow
          </h2>
        </div>
        <div>
          <p class="p pcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
      </div>
      <div class="cards">
        <div class="picturecard" >
          <picture >
            <source srcset="../../assets/card2.png" type="image/jpg">
            <img mat-card-image src="../../assets/card2.png" >
          </picture>
        </div>
        <div>
          <h2 class="h4">
            Flexibility
          </h2>
        </div>
        <div>
          <p class="p pcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
      </div>
      <div class="cards">
        <div class="picturecard" >
          <picture >
            <source srcset="../../assets/card3.png" type="image/jpg">
            <img mat-card-image src="../../assets/card3.png" >
          </picture>
        </div>
        <div>
          <h2 class="h4">
            User friendly
          </h2>
        </div>
        <div>
          <p class="p pcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
      </div>
      <div class="cards">
        <div class="picturecard" >
          <picture >
            <source srcset="../../assets/card4.png" type="image/jpg">
            <img mat-card-image src="../../assets/card4.png" >
          </picture>
        </div>
        <div>
          <h2 class="h4">
            Multiple layouts
          </h2>
        </div>
        <div>
          <p class="p pcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
      </div>
      <div class="cards">
        <div class="picturecard" >
          <picture >
            <source srcset="../../assets/card5.png" type="image/jpg">
            <img mat-card-image src="../../assets/card5.png" >
          </picture>
        </div>
        <div>
          <h2 class="h4">
            Better components
          </h2>
        </div>
        <div>
          <p class="p pcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
      </div>
      <div class="cards">
        <div class="picturecard" >
          <picture >
            <source srcset="../../assets/card6.png" type="image/jpg">
            <img mat-card-image src="../../assets/card6.png" >
          </picture>
        </div>
        <div>
          <h2 class="h4">
            Well organised
          </h2>
        </div>
        <div>
          <p class="p pcard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
      </div>
    </div>
  </div>
  
 
  <div class="containerCards">
    <div class="w-100 container18">
      <div class="w-50 subtitleh5">
        <div>
          <h2 class="h5">
            Our 18 years of achievements
          </h2>
        </div>
        <div>
          <p class="ph5">With our super powers we have reached this</p>
        </div>
      </div>



      <div class="w-50 card18">
        <div class=" cardcontainer18 flex-nav">
          <div class="cards18">
            <div>
              <div class="picturecard picturecard18" >
                <picture >
                  <source srcset="../../assets/card1.png" type="image/jpg">
                  <img mat-card-image src="../../assets/card1.png" >
                </picture>
              </div>
            </div>
            <div>
              <div>
                <h2 class="h18">
                  10,000+
                </h2>
              </div>
              <div>
                <p class="">Downloads per day</p>
              </div>
            </div>
          </div>
          <div class="cards18">
            <div>
              <div class="picturecard picturecard18" >
                <picture >
                  <source srcset="../../assets/card5.png" type="image/jpg">
                  <img mat-card-image src="../../assets/card5.png" >
                </picture>
              </div>
            </div>
            <div>
              <div>
                <h2 class="h18">
                  2 Million
                </h2>
              </div>
              <div>
                <p class="">Users</p>
              </div>
            </div>
          </div>
          <div class="cards18">
            <div>
              <div class="picturecard picturecard18" >
                <picture >
                  <source srcset="../../assets/card2.png" type="image/jpg">
                  <img mat-card-image src="../../assets/card2.png" >
                </picture>
              </div>
            </div>
            <div>
              <div>
                <h2 class="h18">
                  500+
                </h2>
              </div>
              <div>
                <p class="">Clients</p>
              </div>
            </div>
          </div>
          <div class="cards18">
            <div>
              <div class="picturecard picturecard18" >
                <picture >
                  <source srcset="../../assets/card3.png" type="image/jpg">
                  <img mat-card-image src="../../assets/card3.png" >
                </picture>
              </div>
            </div>
            <div>
              <div>
                <h2 class="h18">
                  140
                </h2>
              </div>
              <div>
                <p class="">Countries</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div>
      <div class="w-50 containernav">
        <div >
          <picture class="icons">
            <source srcset="../../assets/Logomarks.png" type="image/jpg">
            <img mat-card-image src="../../assets/Logomarks.png" >
          </picture>
          <mat-toolbar class="navcontainerfooter">
            <span class="example-spacer"></span> 
            <span>Featuresn</span>
            <span class="example-spacer"></span> 
            <span>Pricing</span>
            <span class="example-spacer"></span>     
            <span>Careers</span>
            <span class="example-spacer"></span>    
            <span>Ayuda</span>
          </mat-toolbar>
        </div>
      </div>
      <div >
        <mat-toolbar class="navcontainerfooter">
          <span class="example-spacer"></span> 
          <span>About</span>
          <span class="example-spacer"></span> 
          <span>Features</span>
          <span class="example-spacer"></span>     
          <span>Pricing</span>
          <span class="example-spacer"></span>    
          <span>News</span>
          <span class="example-spacer"></span>    
          <span>Help</span>
          <span class="example-spacer"></span>    
          <span>Contact</span>
        </mat-toolbar>
      </div>
      <p class="pall">© 2021 Landify UI Kit. All rights reserved</p>
    </div>
    <div>
      <div class="w-50 containernav">
        <div >
          <picture class="icons">
            <source srcset="../../assets/Logomarks.png" type="image/jpg">
            <img mat-card-image src="../../assets/Logomarks.png" >
          </picture>
          <mat-toolbar class="navcontainerfooter">
            <span class="example-spacer"></span> 
            <span>Contáctanos</span>
          </mat-toolbar>
        </div>
      </div>
      <div >
        <mat-toolbar class="navcontainerfooter">
          <span class="example-spacer"></span> 
          <span>Whatsapps</span>
          <span class="example-spacer"></span> 
          <span>978 566 567</span>
          <span class="example-spacer"></span>     
          <span>967 567 565</span>
        </mat-toolbar>
      </div>
      <p class="pall">© 2021 Landify UI Kit. All rights reserved</p>
    </div>
    <div>
      <div class="w-50 containernav">
        <div >
          <p class="pget">Get the App</p>
          <div class="divstore">
            <div>
                <img mat-card-image src="../../assets/group_.png" >
            </div>
            <div class="pcardiphone">
                  <img mat-card-image src="../../assets/Vector.png" >
                  <img mat-card-image src="../../assets/Vectors.png" >
            </div>
          </div>
        </div>
      </div>
      <div >
        <div >
          <div class="divstore">
            <div>
                <img mat-card-image src="../../assets/play.png" >
            </div>
            <div class="pcardiphone">
                  <img mat-card-image src="../../assets/Vectorsa.png" >
                  <img mat-card-image src="../../assets/Vectoraa.png" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


















  <div class="fondo">
    <picture >
      <source srcset="../../assets/BG.png" type="image/jpg">
      <img mat-card-image src="../../assets/BG.png" >
    </picture>
  </div>
  <div class="rigth">
    <picture >
      <source srcset="../../assets/Right.png" type="image/jpg">
      <img mat-card-image src="../../assets/Right.png" >
    </picture>
  </div>
  <div class="rigthtwo">
    <picture >
      <source srcset="../../assets/Righttwo.png" type="image/jpg">
      <img mat-card-image src="../../assets/Righttwo.png" >
    </picture>
  </div>
  <div class="left">
    <picture >
      <source srcset="../../assets/Left.png" type="image/jpg">
      <img mat-card-image src="../../assets/Left.png" >
    </picture>
  </div>
</div>





